SUPABASE_URL=https://supabaseurl.supabase.co
SUPABASE_KEY=supabasekey
SUPABASE_SERVICE_KEY=supabaseservicekey
DATABASE_URL=postgresql://postgres:password@db.supabase.supabase.co:1111/postgres

EMBEDDING_MODEL_PATH=../models/sentence-transformers--paraphrase-multilingual-MiniLM-L12-v2
SENTIMENT_MODEL_PATH=../models/rubert-base-cased-sentiment
MOVIES_CSV_PATH=../data/movies.csv

LLM_PROVIDER=llm
LLM_MODEL_NAME=llmmodelname
LLM_BASE_URL=http://localhost:1111
